<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<link rel="stylesheet" href="/stylesheets/builder.css">
	<script src="/javascripts/updates.js"></script>
	<style type="text/css">

    @media print
    {
    	.non-printable { display: none; }
    	.printable { display: block; margin:0;padding: 0; }
    }
  </style>

  <meta property="og:url"              	 content="http://flowchartbuilder.herokuapp.com/" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Build a Flow Chart" />
	<meta property="og:description"        content="Our app is easy and fun to use. Build Flow Charts that you can save, edit, print and share." />
	<meta property="og:image"              content="http://flowchartbuilder.herokuapp.com/images/test.jpg" />
 
</head>
<body>

	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '1474809519502013',
	      xfbml      : true,
	      version    : 'v2.4'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

	<% include ../views/partials/menu %>
  <% include ../views/partials/nav %>
  <div class="menu-bkg"></div>
  <div class="container chart-page-main-container">
		<!-- <div class="header-builder-page"> -->
	      <div class="buttons-chart-page non-printable">
		      <a href="/users/<%= user%>"><p class="btn header-buttons">Creator </p></a>
		      <a href="javascript:window.print()"><p class="btn btn-print header-buttons">Print </p></a>
		      <!-- <a><button class="btn header-buttons">Copy Code</button></a> -->
								     

		      <% if (login) { %>
						<a href="/builder/<%= chart_id%>"><button class="edit-chart btn header-buttons">Edit Chart</button></a>
					
						<form method="post" action="/charts/<%=chart_id%>/delete?_method=DELETE" class="inline-block">
							<input type="hidden" name="_method" value="delete">
							<a><button  class="btn header-buttons">Delete</button></a>
						</form> 
					<% } %>

					<div class="fb-share-button" data-href="http://flowchartbuilder.herokuapp.com/" data-layout="button">

					</div>

				</div>

	      
	      
	  <!-- </div> -->	          


		<div id="container-content" class="printable chart-page-main-container">

			<div class="chart-container-chart-page ">
				<h2 class="printable title-chart-page"><%= title %></h2>
				<!-- parsed html that is appended to dom -->
				<div class="load-chart"></div>
			</div>
		</div>

		<!-- html that is plain text -->
		<div class="db-html hide non-printable"><%= html %></div>

	</div>
</body>
</html>