<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<link rel="stylesheet" href="/stylesheets/builder.css">
	<script src="/javascripts/updates.js"></script>
	<style type="text/css">

    @media print
    {
    	.non-printable { display: none; }
    	.printable { display: block; margin:0;padding: 0;}
    }
  </style>

</head>
<body>

	<% include ../views/partials/menu %>
  <% include ../views/partials/nav %>

  <div class="container">
		<div class="header-build">
	      <h2 class="printable"><%= title %></h2>
	      <div class="header-info non-printable">
		      <a href="/users/<%= user%>"><p class="btn header-buttons">Creator </p></a>
		      <a href="javascript:window.print()"><p class="btn btn-print header-buttons">Print </p></a>
		      <button class="btn btn-copy-code">Copy Code</button>

		      <% if (login) { %>
						<a href="/builder/<%= chart_id%>"><button class="edit-chart btn header-buttons">Edit Chart</button></a>
						<form method="post" action="/charts/<%=chart_id%>/delete" class="inline-block">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn header-buttons">Delete</button></a>
						</form> 
					<% } %>

				</div>
	  </div>	          


		<div class="container-canvas printable">
			<!-- parsed html that is appended to dom -->
			<div class="load-chart"></div>
			<!-- <div class="html-text-copy non-printable"> <textarea style="font-size:12px; margin-left:auto; marin-right:auto; width: 1000px; height:50px;"><%= html %></textarea>
			</div> -->
		</div>
		<!-- html that is plain text -->
		<div class="db-html hide non-printable"><%= html %></div>
	</div>
</body>
</html>