<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body>
  <a href="/">Home</a>
  <div class="container">
    <h2>Hello, <% if (user.local.name != '') { %><%= user.local.name %><% } %></h2>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <div class="clear-both"></div>
    <br>

    <div class="profile-box">
      <h3 class="text-danger">Main Account</h3>
      <% if (user.local.email) { %>
        <p><strong>Email</strong>: <%= user.local.email %></p>
        <% if (user.local.location != '') { %>
          <p><strong>Location</strong>: <%= user.local.location %></p>
        <% } %>
        <% if (user.local.fun_question != "") { %>
          <p><strong>Why do you love flow charts?<br></strong><%= user.local.fun_question %></p>
        <% } %>
        <br>



        <a href="#" class="btn btn-default btn-edit">Edit</a>

        <a href="/unlink/local" class="btn btn-default">Unlink</a>
      
      <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
      <% } %>
    
    </div>

    <div class=" profile-box profile-box-edit hide">
      <h3 class="text-danger">Edit Main Account</h3>
        <form method="post" action="/profile/update">
          <input type="hidden" name="_method" value="put">
          <input type="text" placeholder="Location" name="location" value="<%= user.local.location%>" >
          <input type="text" placeholder="Name" name="name" value="<%= user.local.name%>">
          <input type="text" placeholder="Picture url" name="picture-url" value="<%= user.local['picture-url']%>">
          <input type="text" placeholder="Why do you like flow charts?" name="fun-question" value="<%= user.local['fun_question']%>">
          <button type="submit" class="btn btn-update">Update</button>
        </form>   
    </div>


    <div class="profile-box">
      <h3 class="text-danger">Google</h3>
      <% if (user.google.token) { %>
        <p><strong>email</strong>: <%= user.google.email %></p>
        <p><strong>name</strong>: <%= user.google.name %></p>
        
        <br>
        <a href="#" class="btn btn-default">Edit</a>

        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
      <% } else { %>
          <a href="/connect/google" class="btn btn-danger">Connect Google</a>
      <% } %>
    </div>

    <div class="clear-both"></div>

 


  </div>
</body>
</html>