<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
</head>
<body>
	<% include ../views/partials/menu %>
  <% include ../views/partials/nav %>
	<h2> <% if (user.local.name != '') {%> 
					<%= user.local.name %></h2>
				<% } else { %>
					<% if (user.google.name != '') { %>
						<%= user.google.name %>
					<% } %>
			<% } %>
	</h2>
	<div class="container">
	<h4><% if (user.google.fun_question != '')%> I love flow charts because it's <%= user.local.fun_question %></h4>
	<h4> <%= user.local.location %></h4>
	<img src="<% if (user.google.name != '')%><%= user.local.picture %>">

	<% for (var i = 0; i < charts.length; i++) { %>
			<div>
				<h3><a href="/chart/<%= charts[i].id %>"><%= charts[i].chart.title %></a></h3>
			</div>
	<% } %>
</div>

</body>
</html>